.techs {
  position: relative;
  border-radius: 100%;
  height: 24px;
  width: 24px;
  cursor: pointer;
  background-color: transparent;
  border: white 2px solid;
  outline: none;
  animation-duration: 0.8s;
  animation-name: radUp;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.techs::before {
  content: "";
  position: absolute;
  border-radius: 100%;
  background-color: white;
  width: 10px;
  height: 10px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

@keyframes radUp {
  from {
    box-shadow: 0 0 0 0 transparent, 0 0 0 0 white;
  }

  to {
    box-shadow: 0 0 0 4px transparent, 0 0 0 6px transparent;
  }
}
