.uni{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.title{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.list{
    list-style: none;
    padding: 10px;
    font-size: 14px;
}