{
  "root": true,
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": [
    "prettier"
  ],
  "extends": [
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prefer-const": "warn",
    "prettier/prettier": [
      "warn",
      // off, warn or error
      {
        "endOfLine": "auto"
      }
    ]
  }
}