.background__title{
    filter: brightness(60%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
}