.popUp {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 600px;
    width: 350px;
    background-color: #eee;
    color: black;
    border-radius: 2px;
    left: calc(100% - 600px);
}

.titleBar {
    height: 30px;
    padding: 0 7px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 2px #27272727;
    justify-content: space-between;
    z-index: 1;
}

.title {
    color: #272727;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}

.close1 {
    background-color: crimson;
}

.close2 {
    background-color: darkgoldenrod;
}

.close3 {
    background-color: darkseagreen;
}
.buttons{
    display: flex;
    gap: 3px;
}
.buttons *{
    cursor: pointer;
    height: 15px;
    width: 15px;
    border-radius: 100%;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.wrapper__item{
    width: 100%;
    height: 120px;
    display: grid;
    grid-template-rows: 70% 1fr;
    flex-direction: column;
    gap: 10px;
    background-color: #f9f9f9;
}
.wrapper__item:nth-child(2n){
    background-color: #fff;
}

.wrapper__item img{
    height: 64px;
    width: 64px;
    margin: auto;
}

.wrapper__item p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}