.list{
    list-style: none;
    display: flex;
    gap: 5px;
    flex-direction: column;
    right: 0;
    width: 100%;
}

.nav_box{
    margin-right: 15px;
    position: fixed;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100px;
}

.list li{
    color: #666;
    font-size: 16px;
    text-align: right;
    cursor: pointer;
}