.square{
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.title{
    font-size: 96px;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-transform: uppercase;
    z-index: 1;
}
.block1{
    background-color: white;
    border-radius: 54px 100% 0 15px;
    z-index: 1;
}
.block2{
    background-color: white;
    border-radius: 0 0 200px 25px;
    z-index: 1;
}
.desc{
    font-size: 16px;
    z-index: 1;
    text-align: right;
    font-weight: normal;
    padding: 10px;
    color: white;
    font-family: 'Rubik', sans-serif;
}