.square {
    width: 80vh;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.title {
    font-size: 78px;
    color: #fff;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-transform: uppercase;
}
.block1 {
    background-color: #fff;
    z-index: 1;
    border-radius: 7px 100% 0 0;
}
.block2 {
    background-color: #fff;
    z-index: 1;
    border-radius: 0 0 200px 20px;
}
.desc {
    font-size: 12px;
    font-weight: normal;
    padding: 10px;
    z-index: 1;
    color: #aaa;
    font-family: "Open Sans", sans-serif;
}
@media screen and (max-width: 1200px){
    .square{
        display: flex;
        flex-direction: column;
        width: 80vw;
        height: auto;
    }
    .square .block1,
    .square .block2{
        display: none;
    }
    .desc{
        text-align: center;
    }
}