.square{
    display: grid;
    height: 800px;
    grid-template-rows: 50% 50%;
}
.title_box {
    display: flex;
    align-items: flex-end;
}

.title{
    font-size: 96px;
    text-align: right;
    text-transform: uppercase;
}

.description_box {
    background-color: white;
    display: grid;
    grid-template-columns: 800px 1fr;
}

.description{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    text-align: right;
}
.tiles{
    display: flex;
    flex-direction: column;
}
.tile{
    background-origin: content-box;
    border: white 9px solid;
    height: 19px;
    width: 100px;
    background-color: #000;
}
.tile:nth-child(2n-1){
    margin-left: 0;
}
.tile:nth-child(2n){
    margin-left: 30px;
}
.tile:nth-child(3n){
    margin-left: 15px;
}
