.square {
  display: grid;
  height: 800px;
  grid-template-rows: 45% 55%;
}
.title_box {
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.title {
  font-size: 5em;
  color: #fff;
  text-transform: uppercase;
}

.description_box {
  background-color: white;
  display: grid;
  grid-template-columns: 90% 1fr;
  margin-left: 35%;
}

.description {
  color: #fff;
  z-index: 1;
  font-size: 16px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  text-align: right;
}

@media screen and (max-width: 1200px){
  .title_box{
    justify-content: center;
  }
  .title{
    font-size: 50px;
  }
  .description_box{
    grid-template-columns: 1fr;
    margin: 0 auto auto;
    max-width: 60vw;
  }
  .description{
    text-align: center;
  }
}

@media screen and (max-width: 900px){
  .title{
    font-size: 30px;
  }
  .description_box{
    max-width: 80vw;
    margin-top: 15px;
  }
  .description{
    font-size: 12px;
  }
}