.square{
    display: grid;
    height: 800px;
    grid-template-rows: 45% 55%;
}
.title_box {
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.title{
    font-size: 5em;
    color: #fff;
    text-align: right;
    text-transform: uppercase;
}

.description_box {
    background-color: white;
    display: grid;
    grid-template-columns: 90% 1fr;
    margin-left: 35%;
}

.description{
    color: #fff;
    z-index: 1;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    text-align: right;
}

