@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif;
}

html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  justify-content: center;
}

section .content {

  margin-left: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 350px;
}

section:nth-of-type(even) {
  color: white;
  background: #272727;
}

section:nth-of-type(odd) {
  color: #272727;
  background: white;
}
