.square{
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.title{
    font-size: 96px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-transform: uppercase;
}
.block1{
    background-color: #fff;
    border-radius: 7px 100% 0 0;
}
.block2{
    background-color: #fff;
    border-radius: 0 0 200px 20px;
}
.desc{
    font-size: 16px;
    font-weight: normal;
    padding: 10px;
    color: #aaa;
    font-family: 'Rubik', sans-serif;
}